[Desktop Entry]
Type=Application
Name=ProductionLoggingCenter
Exec=/home/jamie/Documents/AI-Martin/AIMartinSuiteGLCVersion/launch.sh
Icon=/home/jamie/Documents/AI-Martin/AIMartinSuiteGLCVersion/icon.png
Terminal=false
Categories=Utility;Application;